/* 表示 */
.t {
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
}
.t li {
    width: 100%;
    text-align: center;
    padding: 5px 0;
}
/* 続きを読む */
.Card{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .Card-Item{
    padding: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .Card-Item-Comment-Text{
    position: relative;
    height: auto;
    line-height: 1.8;
    font-size: 14px;
  }
  .Card-Item-Comment-Text.isHidden{
    overflow-y:hidden;
  }
  .Card-Item-Comment-Text-Hide{
    display: block;
    line-height: 1.8;
    text-align: right;
  }
  .Card-Item-Comment-Text-More,
  .Card-Item-Comment-Text-Hide{
    cursor: pointer;
  }
  